// Override default variables before the import
$body-bg: #fff;
/* make the customizations */
$theme-colors: (
  "info": orange,
  "danger": tomato,
  "primary": #ff3864,
  "secondary": #ff3864,
);

$mobile: "600px";
// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");

.input-group-text {
  color: #ff3864;
  background-color: black;
  border: 1px solid #ff3864;
}

body {
  font-family: "Rubik Mono One", sans-serif;
}
